
.nutrition-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;

}



.card-informations{
width: 80% ;

}


.card-nutrition{
    margin-bottom: 40px;
    height: 124px;
    border-radius: 20px;
    width: 200px;
    padding-top: 20px;
   display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.0212);
}
.card-image{
  margin-left: 12px;
  width:60px;
  height: 60px;
  text-align: center;
  display: grid;
  place-content: center;
  border-radius: 5px;
}
.nutrition-quantity {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
 
}
.quantity{
 margin-right: 11px;
}
.card-name {
  font-family: Roboto;
  margin-left: 15px;
  margin-top: -17px;
  color: rgba(116, 121, 140, 1);
}
@media (max-width: 1250px) {
  .nutrition-content {
    margin-left: 10px;
  }
  .card-nutrition
  {
     width: 100px;
  }
  .nutrition-quantity{
    font-size: 15px;
    padding-top: 20px;
    padding-left: 10px;
  }
  .card-name {
    padding-left:10px ;
  }
}