.linear-chart{
    background-color:red;
    border-radius: 5px;
    margin: 20px;
    width: 263px;
    height: 263px;
  
}
@media (max-width: 1250px) {
    .linear-chart {
    width: 200px;
    height: 200px;
    }
  }
