.score-chart {
margin-top: 20px;
background-color: rgba(0, 0, 0, 0.0212);
border-radius: 5px;
}
.schema{
  width: 263px;
  height: 265px;
  
}
.score-title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
  padding-left: 30px;
}
