.sideNav {
  background-color: black;
  width: 120px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-top: 200px;
}
.picture-icon {
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 6px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: white;
  margin-top: 150px;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}
.sidenive-icon {
  background-color: white;
  height: 60px;
  width: 60px;
  display: grid;
  place-content: center;
  margin-bottom: 30px;
  padding-top: 30%;
  border-radius: 6px;
}


