.dashbord-content{
    display: flex;
    justify-content: space-between;
}
.dashbord-graphs{

width: 900px;
height: 350px;


}
.dashboard-nutrition{
    width: 40%;
}
.three-graphs{
    display: flex;
    max-width:900px ;
    width: 100%;
    height: 263px;
    justify-content: space-between;

}


