.banner-goodMorning {
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 60px;
}
.banner-firstname {
  color: rgba(255, 1, 1, 1);
}
.banner-subtitle {
  padding-top: 20px;
  margin-bottom: 60px;
}
@media (max-width: 1250px)  and (max-height:780px) {
  .banner-goodMorning {
    margin-left: 30px;
    margin-bottom: 0px;
  }
  .banner-subtitle {
    padding-left: 30px;
    margin-bottom: 30px;
    
  }
}
