.title-chart {
  color: rgba(32, 37, 58, 1);
  font-size: 15px;
  font-weight: 500;
  width: 30%;
  position: absolute;
  margin-left: 20px;
  padding-top: 20px;
}
.chart-activity {
  width: 900px;
  height: 320px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0212);
  border-radius: 5px;
  margin-bottom: 20px;
}



@media (max-width: 1130px)  and (max-height:780px)  {
  .chart-activity {
    height:220px;
    width: 95%;
    margin-left: 30px;

  
  }
}
